<% provide(:title, current_user.email) %>
<div class="row">
  <div class="col-md-6">
    <% if @recipes %>
      <h3>Your Recipe List (<%= current_user.recipes.count %>)</h3>
      
      <%= render partial:'shared/recipe',collection: @recipes %>
      
    <% end %>
  </div>
</div>


