<% provide(:title, current_user.email) %>

<div class="row"> 
  <div class="col-md-4 recipe1">
    <%= render 'recipe' %>
  </div>

  <div class="col-md-4 favorite-recipe1">
    <%= render 'favorite_recipe' %>
  </div>

  <div class="col-md-4 liked-recipe1">
    <%= render 'liked_recipe' %>
  </div>
</div>

