<div class = "well">
	<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
		<li class="label label-primary col-lg-12" ><h4>Category</h4></li><br>
			<% @categories.each do |c|%>
				<li><%= link_to c.name, category_path(c) %></li>
			<% end %>
	</ul>
</div>
	



