<div class="row">
  <ul class="col-md-8">
	<h3>Category</h3>
	<br>
	<% @categories.each do |c|%>
	<li style = "list-style-type: none;">
	<h4><%= link_to c.name, category_path(c) %></h4>
	</li>
	
	<% end %>
</div>
