<%= will_paginate @recipes %>
<div class="row">
  <div class="col-md-6">
      <h3> <%= @category.name %></h3>
      <ul style = "list-style-type: none;">
      <%= render partial:'shared/recipe',collection: @recipes %>
      </ul>
  </div>
</div>
<%= will_paginate @recipes %>